/* * {
    margin: 0px;
    padding: 0px;
} */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-primary {
    color: #FD6E0A;
}
.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}
.btn-primary{
   background-color:#FD6E0A ;
    font-weight: bold;
    font-size: 20px;
    padding: 16px 33px;
    color: white;
    border-radius: 5px;
    border: none;
   }
   .bak-c{
    background-color:#FFF3F6 ;
   }
   .section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
   }
   .section-description{
    font-size: 18px;
    color: #757575;
   }
  
   /* skills style */
   .skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
   }
   .skills-container{
    display: flex;
    gap: 24px;
    
   }
   .skills{
    text-align: center;
   }
   main section {
   margin: 124px;
   }
   /* skill margin */
   .margin{
    margin-bottom: 40px;
   }
   /* about */
   .about-items{
    display: flex;
    justify-content: space-around;
   }
   .item-title{
    color: #757575;
    font-size: 20px;
   }
.item-description{
    color: #474747;
    font-size: 20px;
    font-weight: bold;
}
   .about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
   }
   /* main */
   .main{
    max-width: 1130px;
    margin: 0px auto;
   }
   
   /* cls header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding: 0 38px 0 230px;
}
   /* banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
 max-width: 580px;
}

.banner-profile{
   width: 580px;
   }
   

.banner-description{
    font-weight: 400;
    font-size:18px ;
}
    
.wc-banner{
    font-size: 45px;
    font-weight: 600;
   
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
    
}
/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .nav-title {
    font-weight: 800;
    font-size: 45px;
}

 nav ul li {
    list-style: none;
    margin-right: 52px;
}

 nav li a {
   text-decoration: none;
   font-size: 20px;
  }

 nav ul {
    display: flex;
    align-items: center;
    }
